h1{
    text-align:center;
    }
    
    input{
    color:white;
    background:black;
    font-size:50px;
    border-radius:12px;
    width:18%;
    margin:15px 10px 10px 10px;
    
    }
    
    #myform{
        /* margin-left:22px; */
        /* margin-top:50px;
        margin-bottom:20px; */
        /* margin:auto;
        width:95%; */
        /* padding-left:40px; */
        background:red;
        
    }
    
    #myform div{
        margin-left:30px;
    }
    
    .displayBox{
        /* width:464px; */
        width:86%;
        background:white;
        color:black;
        margin-left:30px;
        
        
    }
    